services:
  streamlit:
    build: .
    container_name: streamlit-app
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - streamlit_data:/app
    restart: always
volumes:
  streamlit_data: