services:
  n8n:
    build:
      context: .
      dockerfile: Dockerfile.n8n
      args:
        - GITHUB_URL=${GITHUB_URL}
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
    volumes:
      - n8n_data:/home/node/.n8n

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
      args:
        GITHUB_URL: ${GITHUB_URL}
    container_name: streamlit-app
    ports:
      - "8501:8501"
    volumes:
      - streamlit_data:/app
    restart: always
    depends_on:
      - n8n

  
volumes:
  streamlit_data:
  n8n_data: